<div id="desktop-banner" (mouseover)="headerOnHover()" (mouseout)="headerOutHover()">
<div class="d-flex justify-content-between header-banner dropdown">
    <div class="left-banner d-flex justify-content-start">
        <div class="header-item underline-item mr-5" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (mouseover)="setContentMenu('women')">
            Women
        </div>
        <div class="header-item underline-item mr-5" (mouseover)="setContentMenu('men')">
            Men
        </div>
        <div class="header-item underline-item">
            About
        </div>
        <ng-container [ngSwitch]="contentMenu">
            <ng-template [ngSwitchCase]="'women'">
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3" *ngFor="let category of categoriesOfWomen">
                                    <p class="menu-item-text">{{category.name}}</p>
                                    <div class="d-flex flex-column">
                                        <ng-container *ngFor="let subcategory of category.subCategories">
                                            <a [routerLink]="['/collections','women',subcategory.name | spaceToLineBreak]" class="menu-item-text">{{subcategory.name}}</a>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="img-container">
                                <img src="{{img+'/header/women-header.jpg'}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template [ngSwitchCase]="'men'">
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-3" *ngFor="let category of categoriesOfMen">
                                    <p class="menu-item-text">{{category.name}}</p>
                                    <div class="d-flex flex-column">
                                        <ng-container *ngFor="let subcategory of category.subCategories">
                                            <a [routerLink]="['/collections','men',subcategory.name | spaceToLineBreak]" class="menu-item-text">{{subcategory.name}}</a>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="img-container text-center">
                                <div class="middle-img">
                                    <p>Introducing</p>
                                    <h1>UNIFORM</h1>
                                </div>
                                <img class="img-fluid" src="{{img+'/header/men-header.png'}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <div class="middle-banner text-center header-item" [routerLink]="['/']">
        <svg class="logo" alt="Everlane" viewBox="0 0 432 40.6"><path d="M0,40.6V0H32.5V8.1H8.1v8.1H24.3v8.2H8.1v8.1H32.5v8.1H0Z"></path><path d="M67.7,40.6L51.4,0h8.7L71.8,28.9,83.3,0H92L75.8,40.6H67.7Z"></path><path d="M113.1,40.6V0h32.5V8.1H121.2v8.1h16.2v8.2H121.2v8.1h24.4v8.1H113.1Z"></path><path d="M199.3,22.8l5.8,17.8h-8.5l-5.3-16.2H177.1V40.6H169V0h24.3A12.16,12.16,0,0,1,202,3.5a11.61,11.61,0,0,1,3.5,8.7A11.68,11.68,0,0,1,199.3,22.8Zm-22.2-6.6h16.2a4,4,0,0,0,2.9-1.2,3.85,3.85,0,0,0,1.2-2.9A4.1,4.1,0,0,0,193.3,8H177.1v8.2Z"></path><path d="M229.6,40.6V0h8.1V32.5H258v8.1H229.6Z"></path><path d="M306.8,32.5H290.1l-3.3,8.1h-8.7L294.4,0h8.1l16.3,40.6h-8.7Zm-3.3-8.1-5.1-12.7-5.1,12.7h10.2Z"></path><path d="M375,0V40.6h-8.1l-20.3-27v27h-8.1V0h8.1l20.3,27V0H375Z"></path><path d="M399.5,40.6V0H432V8.1H407.6v8.1h16.2v8.2H407.6v8.1H432v8.1H399.5Z"></path></svg>
    </div>
    <div class="right-banner d-flex justify-content-start">
        <div *ngIf="!userName"class="header-item" (click)="openModal('login')">Log In</div>
        <div *ngIf="userName" class="header-item dropdown-menu-right">
            <div id="dropdownUser">Hi, {{userName}}</div>
            <div class="dropdown-menu cus-dropdown-menu cus-dropdown-menu--account" aria-labelledby="dropdownUser">
                <div class="cus-dropdown-menu-header">
                    Your Account
                </div>
                <div class="dropdown-divider"></div>
                <div class="container">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item"><a (click)="navigateTo('/account/info')" href="javascript:void(0);">Account</a></li>
                            <li class="list-group-item"><a (click)="navigateTo('/account/orders')"href="javascript:void(0);">Orders Info</a></li>
                            <li class="list-group-item"><a (click)="navigateTo('/account/shipping')"href="javascript:void(0);">Shipping Info</a></li>
                            <li class="list-group-item"><a (click)="logOut();"href="javascript:void(0);">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!userName" class="header-item signup-button ml-5" (click)="openModal('signup')">Sign Up</div>
        <div class="header-item bag-button ml-5 dropdown-menu-right">
            <ng-template [ngIf]="!cartLoading">
                <i class="las la-shopping-bag la-2x" id="dropdownBag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <ng-template [ngIf]="numberOfCarts > 0">
                        {{numberOfCarts}}
                    </ng-template>
                </i>
            </ng-template>
            <ng-template [ngIf]="cartLoading">
                <div class="spinner-border spinner-border-sm text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </ng-template>

            <div class="dropdown-menu cus-dropdown-menu" aria-labelledby="dropdownBag">
                <div class="cus-dropdown-menu-header">
                    Your Bag
                </div>
                <div class="dropdown-divider"></div>
                <div class="container cus-dropdown-menu--body">
                    <ng-template [ngIf]="numberOfCarts == 0 ">
                        <p class="mb-5 mt-5 text-center">You have no items in your bag.</p>
                        <div class="dropdown-divider"></div>
                    </ng-template>
                    <ng-template [ngIf]="numberOfCarts > 0">
                            <div class="row mb-2" *ngFor="let cart of carts">
                                <div class="col-md-4 pl-0">
                                    <img class="img-fluid"
                                    src="{{collections + cart.optionWithSize.productOption.product.gender +'/'+ (cart.optionWithSize.productOption.product.subCategory.name | spaceToLineBreak) +'/'+ cart.optionWithSize.productOption.image + '-first.jpg'}}" alt="">
                                </div>
                                <div class="col-md-8 pl-0 item-info position-relative">
                                    <p>{{cart.optionWithSize.productOption.name}}</p>
                                    <p style="color:#808284;">Size: {{cart.optionWithSize.size.code}}</p>
                                    <p style="color:#808284;">Color: {{cart.optionWithSize.productOption.color}}</p>
                                    <div class="d-flex justify-content-between">
                                        <p>
                                            <i (click)="decreaseCart(cart.optionWithSize.id)" class="las la-minus click-able"></i>
                                            {{cart.quantity}}
                                            <i (click)="increaseCart(cart.optionWithSize.id)" class="las la-plus click-able"></i>
                                        </p>
                                        <p>${{cart.price}}</p>
                                    </div>
                                    <button (click)="removeAllQuantityCart(cart.id)" type="button" class="close" aria-label="Close" style="position: absolute; padding: 0!important; right: 5px; top: 0;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="col-12 dropdown-divider"></div>
                            </div>
                    </ng-template>
                </div>
                <div>
                    Free shipping on your first order over $100.
                    <button *ngIf="numberOfCarts > 0" [routerLink]="['/checkout']" type="button" class="btn btn-secondary btn-sm w-100 h-50">CONTINUE TO CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-------------------Mobile Section ---------------------->
<div id="mobile-banner">
    <div class="header-banner d-flex justify-content-between">
        <div class="left-banner">
            <i id="openDropdown" class="las la-bars la-2x" (click)="interactMobileMenu(true)"></i>
            <i id="closeDropdown" class="las la-times la-2x d-none"(click)="interactMobileMenu(false)"></i>
        </div>
        <div class="middle-banner" [routerLink]="['/']">
            <svg class="logo" alt="Everlane" viewBox="0 0 432 40.6"><path d="M0,40.6V0H32.5V8.1H8.1v8.1H24.3v8.2H8.1v8.1H32.5v8.1H0Z"></path><path d="M67.7,40.6L51.4,0h8.7L71.8,28.9,83.3,0H92L75.8,40.6H67.7Z"></path><path d="M113.1,40.6V0h32.5V8.1H121.2v8.1h16.2v8.2H121.2v8.1h24.4v8.1H113.1Z"></path><path d="M199.3,22.8l5.8,17.8h-8.5l-5.3-16.2H177.1V40.6H169V0h24.3A12.16,12.16,0,0,1,202,3.5a11.61,11.61,0,0,1,3.5,8.7A11.68,11.68,0,0,1,199.3,22.8Zm-22.2-6.6h16.2a4,4,0,0,0,2.9-1.2,3.85,3.85,0,0,0,1.2-2.9A4.1,4.1,0,0,0,193.3,8H177.1v8.2Z"></path><path d="M229.6,40.6V0h8.1V32.5H258v8.1H229.6Z"></path><path d="M306.8,32.5H290.1l-3.3,8.1h-8.7L294.4,0h8.1l16.3,40.6h-8.7Zm-3.3-8.1-5.1-12.7-5.1,12.7h10.2Z"></path><path d="M375,0V40.6h-8.1l-20.3-27v27h-8.1V0h8.1l20.3,27V0H375Z"></path><path d="M399.5,40.6V0H432V8.1H407.6v8.1h16.2v8.2H407.6v8.1H432v8.1H399.5Z"></path></svg>
        </div>
        <div class="right-banner">
            <i class="las la-shopping-bag"></i>
        </div>
    </div>
    <div class="mobile-dropdown-menu" id="mobileDropdownMenu">
        <div class="container position-relative">
            <div class="row">
                <div class="category-menu d-flex justify-content-around col-12">
                    <a id="women" class="category-item category-item--active" href="javascript:void(0);" (click)="setMobileContentMenu('women',$event.target)">Women</a>
                    <a class="category-item" href="javascript:void(0);" (click)="setMobileContentMenu('men',$event.target)">Men</a>
                    <a class="category-item" href="javascript:void(0);" (click)="setMobileContentMenu('about',$event.target)">About</a>
                </div>
                <ng-container [ngSwitch]="contentMenu">
                    <ng-template [ngSwitchCase]="'women'">
                        <div class="sub-category-menu d-flex flex-column col-12">
                            <div class="menu-item mb-5" *ngFor="let category of categoriesOfWomen">
                                <div class="menu-header-item">
                                    {{category.name}}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="menu-sub-item" *ngFor="let subcategory of category.subCategories">
                                    <a (click)="interactMobileMenu(false)"[routerLink]="['/collections','women',subcategory.name | spaceToLineBreak]">{{subcategory.name}}</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'men'">
                        <div class="sub-category-menu d-flex flex-column col-12">
                            <div class="menu-item mb-5" *ngFor="let category of categoriesOfMen">
                                <div class="menu-header-item">
                                    {{category.name}}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="menu-sub-item" *ngFor="let subcategory of category.subCategories">
                                    <a (click)="interactMobileMenu(false)"[routerLink]="['/collections','men',subcategory.name | spaceToLineBreak]">{{subcategory.name}}</a>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

                <div class="user-menu d-flex flex-column col-12">
                    <div class="menu-item">
                        <div class="menu-header-item underline-item" (click)="openModal('login')">Login</div>
                        <div class="menu-header-item underline-item" (click)="openModal('signup')">Sign Up</div>
                    </div>
                </div>
            </div>
            <div class="btn-close-container d-none" id="btnCloseDropdown">
                <button (click)="interactMobileMenu(false)" class="btn btn-default btn-circle"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>

    </div>

</div>