.container-fluid{
    padding: 0;
}
.header-banner{
    color: #4c4c4b;
    box-shadow: 0 2px 4px 0 rgba(76,76,75,.1);
    padding-left: 3rem;
    padding-right:3rem;
    font-size:0.8rem;
    font-weight: 456;
    width: 100%;
}
.left-banner,.right-banner,.middle-banner{
    line-height: 42px;
}
.header-item{
    padding-top:6px;
    padding-bottom:6px;
    cursor: pointer;
}
.middle-banner img{
    height: 30px;
    width: auto;
}
.signup-button:hover{
    color:#f44336!important;
}
.header-item:hover{
    color:black;
}
.underline-item{
    border-bottom: 0.5px solid rgba(76,76,75,.1);
}
.underline-item:hover{
    border-bottom: 0.5px solid #8e8e8e;
}
.dropdown-menu{
    margin-top:0px!important;
    width: 100vw;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    padding-left: 3rem;
    padding-right:3rem;
    z-index: 1;
}
.left-banner:hover>.dropdown-menu {
    display: block;
    top: 100%;
    -webkit-animation: fadeIn 0.5s ease-out;
    -moz-animation: fadeIn 0.5s ease-out;
    -o-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

i.la-shopping-bag{
    font-size: 1.3rem;
}
.menu-item{
    padding:0;
    font-size:0.9rem;
    margin-right: 3rem;
}
.menu-sub-item{
    color:#a3a5a7;
}
.menu-item div{
    height: 25px;
    width:auto;
}
.cus-dropdown-menu{
    line-height: 28px;
    width: 350px!important;
    height: auto;
    padding-left:1rem;
    padding-right:1rem;
    cursor: default!important;
    max-height: calc(100vh - 70px)!important;
}
.cus-dropdown-menu--body{
    overflow-y: auto;
}
.cus-dropdown-menu--account{
    width: 200px!important;
}
.cus-dropdown-menu p{
    line-height: 20px;
}
.cus-dropdown-menu-header{
    font-size: 14px;
    line-height: 28px;
}
.dropdown-menu-right:hover .cus-dropdown-menu {
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0;
    left: auto;
}
.list-group{
    padding: 0;
}
.list-group-item{
    padding: 0;
    border: none;
    font-size: 14px;
}
.item-info{
    font-size:12px;
}
button{
    font-size: 20px;
}
.img-container{
    position: relative;
    height: 180px;
    width: auto;
}
.middle-img{
    font-weight: bold;
    color:white!important;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
}
.middle-img p{
    font-weight: bold;
    color:white!important;
}
#desktop-banner{
    transition: background-color 0.5s ease-out;
    width: 100vw;
    background-color: white;
}
#mobile-banner{
    width: 100vw;
    background-color: white;
}
@Media(min-width:768px){
    #mobile-banner{
        display: none;
    }
    #desktop-banner{
        display: block;
    }
}
@Media(min-width:1px) and (max-width:767px){
    .container{
        max-width: 767px;
    }
    #mobile-banner{
        display: block;
    }
    #desktop-banner{
        display: none;
    }
    .header-banner{
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
    }
    .left-banner,.right-banner,.middle-banner{
        position: relative;
    }
    i.la-bars,i.la-times, i.la-shopping-bag{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mobile-dropdown-menu{
        background-color: white;
        width: 100vw;
        overflow: hidden;
        line-height: 0;
        height: 0;
        transition: all 0.1s ease-in-out;
    }
    .open-dropdown-menu{
        line-height: 1.5;
        height: 100vh;
        overflow-y: auto;
        z-index: 10;
    }
    .category-menu{
        padding:0.8rem 0;
        background-color:#ede7f6;
    }
    .sub-category-menu{
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .user-menu{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 10rem;
    }
    .btn-close-container{
        position: fixed;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -5%);
    }
    .btn-circle {
        position: relative;
        width: 60px;
        height: 60px;
        padding: 6px 0px;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(76,76,75,.1);
        border: 1px #ede7f6 solid;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
    .btn-circle span{
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .category-item--active{
        border-bottom: 2px solid #0056b3;
    }
}
