<div class="footer-banner">
    <div class="container">
    <div class="row">
        <div class="desktop-footer col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="p-header mb-3">Account</p>
                        <a class="p-item mb-1" href="">Manage Account</a>
                        <a class="p-item mb-1" href="">Saved Items</a>
                        <a class="p-item mb-1" href="">Orders & Returns</a>
                        <a class="p-item mb-1" href="">Redeem a Gift card</a>
                    </div>
                    <div class="col-md-3">
                        <p class="p-header mb-3">Company</p>
                        <a class="p-item mb-1" href="">About</a>
                        <a class="p-item mb-1" href="">Factories</a>
                        <a class="p-item mb-1" href="">Careers</a>
                        <a class="p-item mb-1" href="">Contact & FAQ</a>
                        <a class="p-item mb-1" href="">International</a>
                        <a class="p-item mb-1" href="">Accessbility</a>
                    </div>
                    <div class="col-md-3">
                        <p class="p-header mb-3">Stores</p>
                        <a class="p-item mb-1" href="">Valencia Street</a>
                        <a class="p-item mb-1" href="">Stanford Shopping Center</a>
                        <a class="p-item mb-1" href="">Abbot Kinney</a>
                        <a class="p-item mb-1" href="">Prince Street</a>
                        <a class="p-item mb-1" href="">Williamsburg</a>
                    </div>
                    <div class="col-md-3">
                        <p class="p-header mb-3">Connect</p>
                        <a class="p-item mb-1" href="">Instagram</a>
                        <a class="p-item mb-1" href="">Twitter</a>
                        <a class="p-item mb-1" href="">Affiliates</a>
                        <a class="p-item mb-1" href="">Bulk Orders</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 footer-form">
            <p class="p-header footer-form__header">Exceptional quality. Ethical factories. Radical Transparency. Sign up to enjoy free U.S. shipping and returns on your first order.</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button"><i class="las la-arrow-right"></i></button>
                </div>
              </div>
        </div>
    </div>
    <div class="row mobile-footer">
        <div class="col-12">
            <ul class="mobile-footer__list">
                <li #account class="mobile-footer__item mobile-footer__item--active"
                (click)="openDropdown(account)">
                    <a href="javascript:void(0);">Account</a>
                    <p>-</p>
                </li>
                <li class="mobile-footer__sub-item mobile-footer__sub-item--active">
                    <a href="javascript:void(0);">Login</a>
                    <a href="javascript:void(0);">Sign up</a>
                    <a href="javascript:void(0);">Orders & Returns</a>
                    <a href="javascript:void(0);">Redeem a Gift card</a>
                </li>
            </ul>
            <ul class="mobile-footer__list">
                <li #stores class="mobile-footer__item"
                (click)="openDropdown(stores)">
                    <a href="javascript:void(0);">Stores</a>
                    <p>+</p>
                </li>
                <li class="mobile-footer__sub-item">
                    <a href="javascript:void(0);">Valencia Street</a>
                    <a href="javascript:void(0);">Stanford Shopping Center</a>
                    <a href="javascript:void(0);">Abbot Kinney</a>
                    <a href="javascript:void(0);">Prince Street</a>
                    <a href="javascript:void(0);">Williamsburg</a>
                </li>
            </ul>
            <ul class="mobile-footer__list">
                <li #connect class="mobile-footer__item"
                (click)="openDropdown(connect)">
                    <a href="javascript:void(0);">Connect</a>
                    <p>+</p>
                </li>
                <li class="mobile-footer__sub-item">
                    <a href="javascript:void(0);">Instagram</a>
                    <a href="javascript:void(0);">Twitter</a>
                    <a href="javascript:void(0);">Affiliates</a>
                    <a href="javascript:void(0);">Bulk Orders</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mobile-footer-footer">
        <div class="col-12">
            <p>&copy; 2020 All Rights Reserved</p>
            <p>Privacy Policy | Terms of Service</p>
            <p>Ca Supply Chain Transparency | Vendor Code of Conduct</p>
            <p>Sitemap Pages | Sitemap Products</p>
        </div>
    </div>
    </div>
</div>
