<div class="footer-banner">
    <div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p class="p-header mb-3">Account</p>
                        <a class="p-item mb-1" href="">Manage Account</a>
                        <a class="p-item mb-1" href="">Saved Items</a>
                        <a class="p-item mb-1" href="">Orders & Returns</a>
                        <a class="p-item mb-1" href="">Redeem a Gift card</a>
                    </div>
                    <div class="col-md-3">
                        <p class="p-header mb-3">Company</p>
                        <a class="p-item mb-1" href="">About</a>
                        <a class="p-item mb-1" href="">Factories</a>
                        <a class="p-item mb-1" href="">Careers</a>
                        <a class="p-item mb-1" href="">Contact & FAQ</a>
                        <a class="p-item mb-1" href="">International</a>
                        <a class="p-item mb-1" href="">Accessbility</a>
                    </div>
                    <div class="col-md-3">
                        <p class="p-header mb-3">Stores</p>
                        <a class="p-item mb-1" href="">Valencia Street</a>
                        <a class="p-item mb-1" href="">Stanford Shopping Center</a>
                        <a class="p-item mb-1" href="">Abbot Kinney</a>
                        <a class="p-item mb-1" href="">Prince Street</a>
                        <a class="p-item mb-1" href="">Williamsburg</a>
                    </div>
                    <div class="col-md-3">
                        <p class="p-header mb-3">Connect</p>
                        <a class="p-item mb-1" href="">Instagram</a>
                        <a class="p-item mb-1" href="">Twitter</a>
                        <a class="p-item mb-1" href="">Affiliates</a>
                        <a class="p-item mb-1" href="">Bulk Orders</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <p class="p-header mb-5">Exceptional quality. Ethical factories. Radical Transparency. Sign up to enjoy free U.S. shipping and returns on your first order.</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button"><i class="las la-arrow-right"></i></button>
                </div>
              </div>
        </div>
    </div>
    </div>
</div>
