.app-below-header{
    padding-top: 100px;
    padding-bottom: 100px;
}
.checkout-container{
    position: sticky;
    top: 100px;
}
.checkout-list{
    background-color: #f7f7f8;
    list-style-type: none;
    padding-inline-start: 0;
    color: #4c4c4b;
}
.checkout-list__header{
    padding: 15px;
}
.checkout-list__item{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.close{
    position: absolute;
    right: 5%;
    top: 0;
    padding: 0!important;
}
.form-check-input{
    padding-left: 0;
    margin-left: 0;
    transform: scale(1.5);
}
.form-check-label{
    margin-left: 1.25rem;
}
.credit-form{
    display: none;
    padding-left: -1.25rem;
}
#credit-radio:checked ~ .credit-form{
    display: block;
}