<div class="container app-below-header">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="dropdown-divider mb-2"></div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://localhost:8080/api/img/collections/women/Pants/The-Corduroy-Straight-Leg-Crop-Pant-Bone-first.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>The Renew Windbreaker</p>
                    <p>Color: Light Sage</p>
                    <p>
                        <i (click)="decreaseCart(cart.productOption.id)" class="las la-minus click-able"></i>
                        1
                        <i (click)="increaseCart(cart.productOption.id)" class="las la-plus click-able"></i>
                    </p>
                    <p>$250</p>
                </div>
            </div>
            <div class="dropdown-divider mb-2"></div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://localhost:8080/api/img/collections/women/Pants/The-Corduroy-Straight-Leg-Crop-Pant-Bone-first.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>The Renew Windbreaker</p>
                    <p>Color: Light Sage</p>
                    <p>
                        <i (click)="decreaseCart(cart.productOption.id)" class="las la-minus click-able"></i>
                        1
                        <i (click)="increaseCart(cart.productOption.id)" class="las la-plus click-able"></i>
                    </p>
                    <p>$250</p>
                </div>
            </div>
            <div class="dropdown-divider mb-2"></div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://localhost:8080/api/img/collections/women/Pants/The-Corduroy-Straight-Leg-Crop-Pant-Bone-first.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>The Renew Windbreaker</p>
                    <p>Color: Light Sage</p>
                    <p>
                        <i (click)="decreaseCart(cart.productOption.id)" class="las la-minus click-able"></i>
                        1
                        <i (click)="increaseCart(cart.productOption.id)" class="las la-plus click-able"></i>
                    </p>
                    <p>$250</p>
                </div>
            </div>
            <div class="dropdown-divider mb-2"></div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://localhost:8080/api/img/collections/women/Pants/The-Corduroy-Straight-Leg-Crop-Pant-Bone-first.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>The Renew Windbreaker</p>
                    <p>Color: Light Sage</p>
                    <p>
                        <i (click)="decreaseCart(cart.productOption.id)" class="las la-minus click-able"></i>
                        1
                        <i (click)="increaseCart(cart.productOption.id)" class="las la-plus click-able"></i>
                    </p>
                    <p>$250</p>
                </div>
            </div>
            <div class="dropdown-divider mb-2"></div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://localhost:8080/api/img/collections/women/Pants/The-Corduroy-Straight-Leg-Crop-Pant-Bone-first.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>The Renew Windbreaker</p>
                    <p>Color: Light Sage</p>
                    <p>
                        <i (click)="decreaseCart(cart.productOption.id)" class="las la-minus click-able"></i>
                        1
                        <i (click)="increaseCart(cart.productOption.id)" class="las la-plus click-able"></i>
                    </p>
                    <p>$250</p>
                </div>
            </div>
            <div class="dropdown-divider mb-2"></div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://localhost:8080/api/img/collections/women/Pants/The-Corduroy-Straight-Leg-Crop-Pant-Bone-first.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <p>The Renew Windbreaker</p>
                    <p>Color: Light Sage</p>
                    <p>
                        <i (click)="decreaseCart(cart.productOption.id)" class="las la-minus click-able"></i>
                        1
                        <i (click)="increaseCart(cart.productOption.id)" class="las la-plus click-able"></i>
                    </p>
                    <p>$250</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkout-container">
                <ul class="checkout-list">
                    <li class="checkout-list__header text-center">
                        <p>Order Summary</p>
                    </li>
                    <div class="dropdown-divider mt-0"></div>
                    <li class="checkout-list__item">
                        <p>Subtotal</p>
                        <p>$500</p>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="checkout-list__item">
                        <p>Duties</p>
                        <p>$10</p>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="checkout-list__item">
                        <p>Tax</p>
                        <p>Free</p>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="checkout-list__item">
                        <p>Shipping</p>
                        <p>Free</p>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="checkout-list__item">
                        <p class="font-weight-bold">Total</p>
                        <p class="font-weight-bold">$510</p>
                    </li>
                </ul>
                <button type="button" class="btn btn-secondary btn- w-100 h-10">CONTINUE TO CHECKOUT</button>
            </div>
        </div>
    </div>
</div>