<div class="app-below-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 side-list-container">
                <ul class="side-list">
                    <li class="side-list__item"><a [routerLink]="['/account/info']"href="javascript:void(0);">Account</a></li>
                    <li class="side-list__item  side-list__item--active"><a href="javascript:void(0);">Orders Info</a></li>
                    <li class="side-list__item"><a [routerLink]="['/account/shipping']"href="javascript:void(0);">Shipping Info</a></li>
                    <li class="side-list__item"><a (click)="logOut();"href="javascript:void(0);">Log Out</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <h2 style="font-weight: 500;">Orders Information</h2>
                <h5 style="color: #a3a5a7;">Tracking. Details. If it has to do with your orders, it’s probably right here.</h5>
                <ul class="order-list">
                    <li class="order-list__item">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
