<div class="app-below-header container">
    <div class="row justify-content-around"  style="padding-top: 150px;">
        <div class="col-md-4" *ngIf="content == 'sendResetLink' && message == false">
            <div class="text-center mb-4">
                <h3>Reset Password.</h3>
                <p>Enter the email address associated with your account to receive a link to reset your password.</p>
            </div>
            <form  [formGroup]="emailForm" (ngSubmit)="sendResetLink(emailForm.value)">
                <p>Email Address</p>
                <input type="email" class="form-control mb-2" aria-label="email" aria-describedby="basic-addon1"
                id="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                [ngClass]="{'is-invalid': submitted && fEmail.email.errors}">
                <div class="invalid-feedback">
                    Invalid Email
                </div>
                <div class="custom-invalid-feedback" [ngClass]="(notExist && submitted) ? 'd-block' : 'd-none' ">
                    An account with this email doesn’t exist. Check your entry and try again.
                </div>
                <button type="submit" class="btn btn-submit btn-lg w-100 mb-2"
                [attr.disabled]="(emailForm.value.email.length < 1) ? 'disabled': null">Send Reset Link</button>
            </form>
        </div>
        <div class="col-md-4" [ngClass]="message ? 'd-block' : 'd-none' ">
            <div class="text-center mb-4">
                <h3>Check your email.</h3>
                <p>We've sent an email to {{email}} with the link to reset your password. If you don't see the email, please check your spam folder.</p>
            </div>
            <button class="btn btn-submit btn-lg w-100 mb-2" [routerLink]="['/home']">Go Back Home</button>
        </div>
        <div class="col-md-4" *ngIf="content == 'setNewPassword'">
            <div class="text-center mb-4">
                <h3>Set a new Password.</h3>
                <p>Enter your new password below.</p>
            </div>
            <form  [formGroup]="passForm" (ngSubmit)="setNewPassword(passForm.value)">
                <p>New Password</p>
                <div class="input-group mb-3">
                    <input class="form-control" aria-label="password" aria-describedby="basic-addon2"
                    id="password" formControlName="password" required
                    [attr.type]="passwordHide ? 'password' : 'text'">
                    <div class="input-group-append">
                        <span class="input-group-text click-able" id="basic-addon2" (click)="passwordHide = !passwordHide">
                            <i class="lar la-eye la-lg" [ngClass]="passwordHide ? 'd-block' : 'd-none'"></i>
                            <i class="lar la-eye-slash la-lg" [ngClass]="!passwordHide ? 'd-block' : 'd-none'"></i>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit btn-lg w-100 mb-2"
                [attr.disabled]="(passForm.value.password.length < 1) ? 'disabled': null">Set New Password</button>
            </form>
        </div>
    </div>
</div>
