<div class="app-below-header">
    <div class="container" [ngClass]="verified ? 'd-block' : 'd-none'">
        <div class="row">
            <div class="col-md-2 side-list-container text-center justify-content-around --desktop">
                <ul class="side-list">
                    <li class="side-list__item"><a [routerLink]="['/account/info']"href="javascript:void(0);">Account</a></li>
                    <li class="side-list__item  side-list__item--active"><a href="javascript:void(0);">Orders Info</a></li>
                    <li class="side-list__item"><a [routerLink]="['/account/shipping']"href="javascript:void(0);">Shipping Info</a></li>
                    <li class="side-list__item"><a (click)="logOut();"href="javascript:void(0);">Log Out</a></li>
                </ul>
            </div>
            <div class="col-md-10 col-12">
                <h2 style="font-weight: 500;">Orders Information</h2>
                <h5 style="color: #a3a5a7;">Tracking. Details. If it has to do with your orders, it’s probably right here.</h5>
                <ul class="order-list mt-3 d-flex flex-column">
                    <li class="text-center pt-5 pb-5" style="background-color: #f7f7f8;"[ngClass]="( orders.length === 0 ) ? 'd-block' : 'd-none' ">
                        You haven't placed any orders yet.
                    </li>
                    <li class="order-list__item mb-4" *ngFor="let order of orders">
                        <p class="primary-info">{{order.date}}</p>
                        <div class="dropdown-divider"></div>
                        <div class="row justify-content-between">
                            <div class="col-md-2 col">
                                <p>Order Number</p>
                                <p class="secondary-info">{{order.orderNumber}}</p>
                            </div>
                            <div class="col-md-3">
                                <p>Shipping Address</p>
                                <p class="secondary-info">{{order.address}}</p>
                            </div>
                            <div class="col-md-2">
                                <p>Order Total</p>
                                <p class="secondary-info">${{order.price}}</p>
                            </div>
                            <div class="col-md-2">
                                <p>Order Status</p>
                                <p class="secondary-info">{{order.status}}</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <button (click)="openScrollableContent(longContent,order)"class="btn-order-details">View Order Details</button>
                            </div>
                        </div>
                    </li>
                </ul>       
            </div>
        </div>
    </div>
</div>
<ng-template #longContent let-modal>
    <div class="modal-header position-relative">
        <p class="primary-info">{{order.date}}</p>
        <div class="dropdown-divider"></div>
        <button type="button" class="close close-modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-between">
            <p class="primary-info">Order: {{order.orderNumber}}</p>
            <p class="primary-info">Status: {{order.status}}</p>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row mb-3" *ngFor="let orderDetail of order.orderDetails">
            <div class="col-3">
                <img class="img-fluid" src="{{collections + orderDetail.optionWithSize.productOption.product.gender +'/'+ (orderDetail.optionWithSize.productOption.product.subCategory.name | spaceToLineBreak) +'/'+ orderDetail.optionWithSize.productOption.image + '-'+ orderDetail.optionWithSize.productOption.numberOfImage +'.jpg'}}" alt="">
            </div>
            <div class="col-9">
                <p>{{orderDetail.optionWithSize.productOption.name}}</p>
                <p class="secondary-info">Size: {{orderDetail.optionWithSize.size.name}}</p>
                <p class="secondary-info">Color: {{orderDetail.optionWithSize.productOption.color}}</p>
                <div class="d-flex justify-content-between">
                    <p class="secondary-info">Qty: {{orderDetail.quantity}}</p>
                    <p><span class="secondary-info">Price:</span> ${{orderDetail.price}}</p>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <p class="primary-info text-center">Shipping Address & Bill</p>
        <div class="row mt-3">
            <div class="col-6">
                <p>Name</p>
            </div>
            <div class="col-6">
                <p class="secondary-info">{{order.fullName}}</p>
            </div>
            <div class="col-6">
                <p>Address</p>
            </div>
            <div class="col-6">
                <p class="secondary-info">{{order.address}}</p>
            </div>
            <div class="col-6">
                <p>Phone Number</p>
            </div>
            <div class="col-6">
                <p class="secondary-info">{{order.phone}}</p>
            </div>

            <div class="col-12">
                <div class="dropdown-divider"></div>
            </div>

            <div class="col-6">
                <p>Subtotal</p>
            </div>
            <div class="col-6">
                <p class="secondary-info">${{order.price - order.shipping}}</p>
            </div>

            <div class="col-6">
                <p>Shipping</p>
            </div>
            <div class="col-6">
                <ng-template [ngIf]="order.shipping == 0 ">
                    <p class="secondary-info">Free</p>
                </ng-template>
                <ng-template [ngIf]="order.shipping > 0 ">
                    <p class="secondary-info">${{order.shipping}}</p>
                </ng-template>
            </div>
            <div class="col-6">
                <p>Payment Method</p>
            </div>
            <div class="col-6">
                <ng-container [ngSwitch]="order.payment">
                    <ng-template [ngSwitchCase]="'cod'">
                        <p class="secondary-info">Cash on Delivery</p>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'credit'">
                        <p class="secondary-info">Credit Card</p>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
            <p class="primary-info">Total</p>
            <p class="primary-info">${{order.price}}</p>
    </div>
</ng-template>