<div class="container space app-below-header" >
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
        </div>
        <ng-template [ngIf]="introTemplate">
            <div *ngIf="introTemplate.heading" class="col-md-12 mb-3 heading-image position-relative --desktop" style="margin-top: -1em;">
                <div class="row" *ngIf="introTemplate.headingPerColumn === 1">
                    <div class="col-md-12">
                        <img class="img-fluid" src="{{img+'/intro/'+gender+'-'+ (subCategoryName | spaceToLineBreak) +'-intro.jpg'}}" alt="">
                    </div>
                    <div class="heading-content">
                        <p>{{introTemplate.content}}</p>
                    </div>
                    <div class="col-md-12 heading-menu text-center">
                        <div class="row">
                            <ng-container *ngFor="let item of introTemplate.heading">
                                <div class="col-{{ 12 / introTemplate.heading.length }} heading-item">
                                    <a (click)="scrollToElement(item)">{{item}}</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="introTemplate.headingPerColumn > 1">
                    <div class="col-12 row plr-0 justify-content-between">
                        <ng-container *ngFor="let item of introTemplate.heading; let i = index">
                            <div class="col-{{introTemplate.headingPerColumn}} heading-image-item">
                                <img class="img-fluid" src="{{img+'/intro/'+gender+'-'+ (subCategoryName | spaceToLineBreak) +'-intro-' + (i+1) + '.jpg'}}" alt="">
                            </div>
                        </ng-container>
                    </div>
                    <div class="col-12 row plr-0 justify-content-around">
                        <ng-container *ngFor="let item of introTemplate.heading">
                            <div class="col-{{introTemplate.headingPerColumn }} heading-item">
                                <a (click)="scrollToElement(item)">{{item}}</a>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
    <div class="row position-relative">
        <div class="col-md-2">
            <div class="side-menu">
                <ul class="list-group">
                    <li class="list-group-item" [routerLink]="['/collections',gender,'all']">
                        <a [ngClass]="{'--list-group-item-active': subCategoryName == 'all'}">{{gender}}'s all</a>
                    </li>
                    <li class="list-group-item" [routerLink]="['/collections',gender,'new-arrivals']">
                        <a [ngClass]="{'--list-group-item-active': subCategoryName == 'new-arrivals'}">New Arrivals</a>
                    </li>
                </ul>
                <div class="dropdown-divider"></div>
                <ul class="list-group">
                    <ng-container *ngFor="let subCategory of subCategories">
                        <li class="list-group-item" [routerLink]="['/collections',gender,subCategory.name | spaceToLineBreak]">
                            <a [ngClass]="{'--list-group-item-active': originSubCategoryName == (subCategory.name | spaceToLineBreak)}">{{subCategory.name}}</a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="col-md-10 product-section">
            <div class="container">
                <ng-container [ngSwitch]="template">
                    <ng-template [ngSwitchCase]=" 'shop' ">
                        <app-shop [gender]="gender" [subCategoryName]="subCategoryName" [introTemplate]="introTemplate"></app-shop>
                    </ng-template>
                    <ng-template [ngSwitchCase]=" 'shop2' ">
                        <app-shop2 [gender]="gender" [subCategoryName]="subCategoryName" [introTemplate]="introTemplate"></app-shop2>
                    </ng-template>
                </ng-container>
            </div>
        </div>

    </div>
</div>


