.app-below-header{
    min-height: unset;
}
@media(min-width:768px){
    .container{
        max-width: 1400px;
    }
}
.cus-carousel{
    position: relative;
    overflow-x:scroll;
}
.cus-carousel-slides{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
}
.cus-carousel__item{
    scroll-snap-align: start;
}
.cus-carousel-indicators{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    width: 80%;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}
.cus-carousel-indicators__item{
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px #808284;
    border-width: thin;
}
.cus-carousel-indicators__item--active{
    background-color: #808284;
}
.side-image-container, .product-description-container{
    position: sticky;
    top: 70px;
}
.side-image-container{
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}
.main-image-container{
    overflow:hidden;
    position: relative;
    padding: 0;
    transition: max-height 5s ease;
}
.side-image-item-link{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow-y: auto;
}
.side-image-item-link:hover{
    border: 0.5px solid black;
}
.--item-link-active{
    border: 0.5px solid black;
}
.unselected-container{
    position: absolute;
    left: 0;
    top: 0;
}
.absolute-left-top-0{
    position: absolute;
    left: 0;
    top: 0;
}
a:target{
    color:green;
    background-color:green ;
}
.size-list{
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    flex-wrap: wrap;
}
.size-item{
    padding: 22px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color:#fafafa;
    width: 11%;
    text-align: center;
    pointer-events: auto;
    border: 1px solid #fafafa;
    position: relative;
    cursor: pointer;
}
.size-item:hover{
    border: 1px solid #808284;
}
.size-item-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}
.--font-12{
    font-size: 12px;
}
.--disabled-btn{
    color: #fff;
    background-color: #d2d2d2;
}
.--disabled-btn:hover{
    background-color:#d2d2d2;
}
.--enable-btn{
    opacity: 1;
    color: #fff;
    background-color: #4c4c4b;
}
.--enable-btn:hover{
    background-color: #171717!important;
}