/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin:0;
    font-family: 'Nunito', sans-serif;
}
.btn{
    border-radius: 0;
}
.btn-secondary:hover{
    background-color: black;
}
.p-header,.p-item{
    font-size:0.9rem;
    display: block;
}
.p-item{
    color:#808284;
}
a{
    color:#808284;
}
a:hover{
    text-decoration: none;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    color:#4c4c4b;
}
input{
    border-radius: 0 !important;
}
app-header{
    position: fixed;
    z-index: 5;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display:block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
.fade-in-amination{
    -webkit-animation: fadeIn 0.5s ease-out;
    -moz-animation: fadeIn 0.5s ease-out;
    -o-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}
.app-below-header{
    padding-top: 55px;
    z-index: 0;
}
.click-able{
    cursor: pointer;
}
.not-select-able{
    user-select: none;
}
.list-group-item, .breadcrumb-item{
    text-transform: capitalize;
}
