.home-image{
    padding:0!important;
    position: relative;
}

@media(min-width:768px){
    .container{
        max-width: 1400px;
    }
    .desktop-home-image{
        display: unset;
    }
    .mobile-home-image{
        display: none;
    }
    .home-image-text{
        user-select: none;
        color:#4c4c4b;
        font-size:3.5rem;
    }
}
@media(min-width:1px) and (max-width:767px){
    .container{
        max-width: 767px;
    }
    .home-image-container{
        padding-top: 42px; /*because of the mobile-banner*/ 
    }
    .desktop-home-image{
        display: none;
    }
    .mobile-home-image{
        display: unset;
    }
    .home-image-text{
        color:white;
        user-select: none;
        font-size: 2.2rem;
    }
    .home-btn{
        border:2px solid white!important;
    }
    .home-btn a{
        color: white!important;
    }
}
.home-btn{
    border: 1px solid black;
}
.home-btn a{
    color:#4c4c4b;
}
.home-btn:focus{
    box-shadow: none;
    outline: none;
}
.home-btn:hover{
    border: 1px solid #fff;
    background-color: #fff;
}
.home-btn:hover > a{
    color: rgba(0, 0, 0, 0.5)!important;
}
.choose-section, .dropdown-divider{
    padding-bottom: 80px;
}
.text-on-image{
    color:#F8F8FF;
    font-size:1.8rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: unset;
    cursor: default;
}
.coming-soon:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image-container:hover .coming-soon:after{
    opacity:1;
}
.carousel-section{
    position: relative;
    padding: 4.5rem;
    background-color: #F1E8DF;
}

.carousel{
    position: static;
}
#carousel{
    transition: opacity 0.3s ease-in;
}
::ng-deep .carousel-indicators{
    display: none;
}
::ng-deep .carousel-control-prev{
    width: auto;
    display: inline;
    top:auto;
    left: 0;
    bottom: 0;
}
::ng-deep .carousel-control-next{
    width: auto;
    display:inline;
    top:auto;
    left: 2.5rem;
    bottom: 0;
    right: auto;
}

::ng-deep .carousel-control-prev:active .carousel{
    -webkit-animation: fadeIn 0.5s ease-out;
    -moz-animation: fadeIn 0.5s ease-out;
    -o-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}
::ng-deep .carousel-control-prev span{
    background-image: url('/assets/images/prev-icon.svg')!important;
}
::ng-deep .carousel-control-next span{
    background-image: url('/assets/images/next-icon.svg')!important;
}
::ng-deep .carousel-item,::ng-deep .carousel-inner{
    position:static;
}
.carousel-caption{
    z-index: 1;
    top: 0;
    padding: 0;
    color: #1A1A1A;
    text-align: left;
    left:0;
}
@media only screen and (max-width: 767px){
    .carousel-caption{
        position: relative;
    }
    .carousel-section{
        padding:30px;
    }
    ::ng-deep .carousel-control-next{
        display: none;
    }
    ::ng-deep .carousel-control-prev{
        display:none;
    }
    .carousel-caption > h1,.carousel-caption > p, .carousel-caption > img{
        margin-top:10px!important;
        margin-bottom: 10px!important;
        font-size:20px;
    }
}
@media(min-width:768px) and (max-width:1090px){
    .carousel-caption > h1,.carousel-caption > p, .carousel-caption > img{
        margin-top:10px!important;
        margin-bottom: 10px!important;
        font-size:3vw;
    }
    ::ng-deep .carousel-control-prev{
        bottom: -3rem;
    }
    ::ng-deep .carousel-control-next{
        bottom: -3rem;
    }
}