<div class="container text-center home-image-container">
    <div class="row">
        <div class="col-md-12 home-image">
            <img class="img-fluid desktop-home-image" src="{{img+'/home/home-shop.jpg'}}" alt="">
            <img class="img-fluid mobile-home-image" src="{{img+'/home/m-home-shop.jpg'}}" alt="">
            <div class="right-intro col-md-6" style="top:45%">
                <p class="home-image-text">The cord's back in stock</p>
                <button class="btn btn-lg home-btn" [routerLink]="['/collections','women','Pants']" ><a>Shop Now</a></button>
            </div>
        </div>
        
    </div>
</div>

<div class="container-md pt-5">
    <div class="row choose-section text-center">
        <div class="col-md-4 mb-2">
            <div class="image-container" style="position: relative;">
                <img class="img-fluid" src="{{img+'/home/choose-section1.jpg'}}" alt="">
                <div class="coming-soon"></div>
                <p class="text-on-image not-select-able">Coming soon</p>
            </div>
            <h4 class="mt-4">The Perform Legging</h4>
            <p>You asked, We listened.</p>
        </div>
        <div class="col-md-4 mb-2">
            <div class="click-able">
                <a [routerLink]="['/collections','women','Sweaters']" class="link"></a>
                <img class="img-fluid" src="{{img+'/home/choose-section2.jpg'}}" alt="">
                <h4 class="mt-4">Sweaters: Choose Your Price.</h4>
                <p>Our best-selling sweaters are selling fast.</p>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="click-able">
                <a [routerLink]="['/collections','women','Loafers']" class="link"></a>
                <img class="img-fluid" src="{{img+'/home/choose-section3.jpg'}}" alt="">
                <h4 class="mt-4">Farewell to Mordern Loafer</h4>
                <p>Get yours before it's gone for good. Only $90</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid carousel-section">
    <div class="container-md">
        <div class="row position-relative">
            <div class="col-md-7 pl-0">
                
            </div>
            <div class="col-md-5 position-static" id="carousel">
                <ngb-carousel *ngIf="carousels">
                    <ng-template ngbSlide *ngFor="let carousel of carousels">
                        <div class="carousel-caption col-md-7 not-select-able">
                            <p class="mb-5"style="font-weight: bolder;">FROM THE PEOPLE-CUSTOMER REVIEWS</p>
                            <img class="mb-3"src="assets/images/stars.svg" alt="">
                            <h1 class="mb-5">{{carousel.caption}}</h1>
                            <p>-{{carousel.by}}</p>
                        </div>
                        <div class="picsum-img-wrapper">
                            <img class="img-fluid" [src]="carousel.image" alt="Random slide">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            
        </div>
    </div>
</div>
